body {
  background-image: url("russia-tuapse-07072021-people-with-bags-at-the-station-of-the-city-of-tuapse-in-the-summer-high-quality-photo-2GH69JX.jpeg");
  background-size: cover;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  height: 100vh;
}
.container {
  background: #fff;
  max-width: 80%;
  margin: auto;
  border: 3px solid darkblue;
}

h1 {
  text-align: center;
}

#count {
  text-align: center;
  color: black;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
}

#increment-btn:hover {
  cursor: pointer;
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: black;
}

p {
    color: black;
}